body, * {
  font-family: "Helvetica Neue", sans-serif !important;
}

body {
  background-color: #f3f3f3;
}

h1 {
  font-weight: bold;
  letter-spacing: -4px;
}

h1 a {
  text-decoration: none;
}

.square li {
  list-style: none;
  padding: 1em;
  background: white;
}

.calendar.tile {
  height: 95px;
  display: block;

  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;

  padding-left: 7px;
  padding-top: 1px;

  background-color: white;
  font-size: 10px;
}

.calendar.tile.today {
  background-color: #659ec7;
}

.calendar.tile.weekend {
  background-color: #fdd7e4;
}


.calendar.tile .popup {
  position: relative;
  width: 200px;
  min-height: 60px;

  margin-left: -33px;
  margin-top: -19px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 2px;

  background-color: lightgreen;
}

