kanbanery:
  token:      'TOKEN'
  host:       '7pikes.kanbanery.com'
  api:        'v1'
  project:    '34933'
jaconda:
  subdomain:  '7pikes'
  room_id:    '7pikes'
  room_token: 'TOKEN'
mandrill:
  token:      'TOKEN'
  subject:    'Pulse notification'
  sender:     'pulse@7pikes.com'
github:
  web_addr:      'https://github.com'
  api_addr:      'https://api.github.com'
  client_id:     'TOKEN'
  client_secret: 'SECRET'
  organisation:  '7Pikes'
sinatra:
  domain:        'pulse.7pikes.com'