<div class="sixteen columns">

  <% position = 0 %>

  <% @calendar.sizes[1].times do %>
    <% @calendar.sizes[0].times do %>

      <% position += 1 %>
      <% date = @calendar.at_position(position) %>

      <div class="two columns">
        <div class="calendar tile">

          <%= date %>
          <br/>

          <% @plan[date].to_a.each_with_index do |row, ind| %>

            <a href="<%= row["url"] %>" title="<%= row["title"] %>" target="_blank">
              #<%= ind %>
            </a>

          <% end %>

        </div>
      </div>

    <% end %>
  <% end %>

</div>
